body {
    margin: 15vh 0 0 0;
    text-align: center;
    background-color: #FBFBFB;
    color: #44403e;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    background-color: #E8E4E2;
    -webkit-text-size-adjust: 100%;
}


header {
    height: 15vh;
    width: 100%;
    top: 0;
    background-color: #E8E4E2;
    position: fixed;
    z-index: 5;
}

footer {
    height: 20vh;
}

h2 {
    display: inline-block;
    padding: 0 0.5em;
    background: linear-gradient(transparent 60%, #FBFBFB 10%);
}

p {
    margin: 3em 0;
}

span{
    color: #EC7357;
}


img {
    margin: 2vh 0;
    object-fit: contain;
    width: 100%;
}

td {
    padding: 0.7em;
}


.table {
    display: inline-block;
    margin: 2vh auto;
}


.home {
    position: absolute;
    top: 3vh;
    left: 3vw;
    color: #44403e;
    text-decoration: none;
}

.home::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #44403e;
    transition: .3s;
    transform: translateX(-50%);
}

.home:hover::after {
    width: 100%;
}


.url {
    position: relative;
    padding: 0.3em;
    color: #44403e;
    text-decoration: none;
}

.url::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #44403e;
    transition: .3s;
    transform: translateX(-50%);
}

.url:hover::after {
    width: 100%;
}



.block1 {
    /*
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    */
    margin: 0vh 5vw 0 5vw;
}

.tag {
    display: inline-flex;
    position: relative;
    vertical-align: top;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 100%;
    margin: 2vh 0 0 0;
}

.icon {
    width: 10vh;
    margin: 0 1vh;
}


.tag_content {
    position: relative;
    background-color: #FBFBFB;
    border-radius: 4px;
    color: #44403e;
    padding: 0.5em 1em 0.5em 2.1em;
    margin: 0.5em 0.25em 0 0.25em;
}

.tag_content::after {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: 1.2em;
    left: 1em;
    content: " ";
    background-color: #E8E4E2;
    border: solid 3px #E8E4E2;
    border-radius: 20px;
}

.about {
    display: inline-flex;
    position: relative;
    vertical-align: top;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    margin: 0;
}


.content {
    margin: 30vh 5vw 0vh 5vw;
}

.main {
    font-size: large;
}


.gif {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gif img {
    width: 20vw;
    margin: 3em;
}

.min{
    display: none;   
}




@media screen and (max-width: 980px) {
    /* 幅960px以上に適用されるCSS（PC半画面以上用） */

    header {
        height: 16vh;
    }

    h1 {
        margin-top: 2em;
        font-size: 1.5rem;
    }

    p{
        margin: 2em 0;
    }

    .content{
        font-size: 0.8em;
    }


    .about {
        margin-bottom: 3vh;
    }


    .block1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 4vh 3vw 0 3vw;
    }



    .gif img {
        width: 50vw;
        margin: 2vh 1vh;
    }

    .min{
        display: inline;   
    }


}